name: game-grid
on:
   push:
      branches: [main]
jobs:
   build:
      runs-on: ubuntu-latest
      steps:
         - name: Checkout repository
           uses: actions/checkout@v4

         - name: Setup Bun
           uses: oven-sh/setup-bun@v2
           with:
              bun-version: latest

         - name: Install dependencies
           run: bun install --frozen-lockfile

         - name: Run linter
           run: bun run lint

         - name: Build project
           run: bun run build

         - name: Install Surge
           run: bun add --global surge

         - name: Deploy to Surge
           run: surge ./dist game-grid.surge.sh --token ${{ secrets.SURGE_TOKEN }}
